

.navbar.navbar-dark{
    background-color: #868e96;

}

#add_billet{
    margin-top: 10px;
}

.footer{
    background-color: #868e96;
    text-align: center;
    color: white;
    
}

#acces{
    font-weight: bold;
}

#horaire{
    font-weight: bold;
}

.footer-copyright{
    font-familly: Minecraftia;
    font-weight: 300;
    color: white;
    text-align:center;
}

.listeBillets{
    list-style: none;
    padding-left: 0px;
}

.listeBillets li{
    margin-top: 10px;
    background-color: #cacaca;
    padding: 15px;
}

